html,
body,
#home {
  height: 100%;
}

body {
  background: url(../assets/capa.png), url(../assets/ruido.png),
    linear-gradient(50deg, #ff4169, #7c26f8);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

/* _____Navbar_____ */
nav.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 0px;
}

/* Toggle */
.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.divisor {
  width: 1px;
  background-color: white;
  margin: 12px 15px;
}
/* ________________ */

/* _____Cover_____ */
.cover {
  text-align: center;
}
/* ______________ */

/* _____Button_____ */

.btn-custom {
  color: #ffffff;
  border-radius: 100px;
  text-transform: uppercase;
  transition: background-color 0.4s, color 0.4s;
  padding: 10px 20px;
}

.btn-purple {
  background-color: #7c25f8;
  border: 2px solid #7c25f8;
}

.btn-purple:hover {
  background-color: #6207e3;
  border-color: #6207e3;
  color: #ffffff;
}

.btn-white {
  border: 2px solid #ffffff;
}

.btn-white:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

/* ________________ */

/* _____Services_____ */

#services {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

#services h2, h3 {
  color: #7C25F8;
}

.albuns {
  padding: 10px 0px;
}

/* __________________ */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .btn-custom {
    margin: 10px 15px;
    font-size: 0.8rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .btn-custom {
    margin: 10px 15px;
    font-size: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .btn-custom {
    margin: 15px 20px;
    font-size: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .btn-custom {
    margin: 15px 20px;
    font-size: 1.2rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .btn-custom {
    margin: 20px 30px;
    font-size: 1.2rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .btn-custom {
    margin: 20px 30px;
    font-size: 1.2rem;
  }
}
